asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-yasg
Faker
gunicorn
inflection
packaging
psycopg2-binary
PyJWT
python-dateutil
python-decouple
pytz
PyYAML
six
sqlparse
tzdata
uritemplate
whitenoise
